html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	background-image: url('../img/fondo2.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
}
/* .container {
} */
.header {
	padding-top: 40px;
	margin: 0 auto;
	width: 1200px;
}
.header__container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 10px;
}

.simbolo {
	margin-left: 10px;
	margin-right: 30px;
	font-size: 2.5rem;
	padding-bottom: 0.5rem;
	font-weight: bold;
}

.misas {
	font-size: 2.6rem;
	color: #515151;
	font-family: 'Titillium Web', sans-serif;
}
.header__linea-abajo {
	margin-top: 1rem;
	background-color: white;
}

/* main */

.main {
	padding-top: 5%;
}

.titulo-gradecimiento {
	font-size: 2.3rem;
	margin: 30px 0;
	background: linear-gradient(
		to bottom,
		rgba(255, 5, 9, 1) 0%,
		rgba(239, 4, 8, 1) 44%,
		rgba(165, 0, 2, 1) 100%
	);
	color: white;
	outline: none;
	border-radius: 15px;
	padding: 10px 40px;
	border: none;
	font-family: 'Titillium Web', sans-serif;
}

.main__descripcion {
	font-size: 2rem;
}

.main__container {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
}

.container-section {
	margin: 0 auto;
	width: 1200px;
	display: flex;
}

.text-center {
	display: flex;
	justify-content: center;
	width: 100%;
}

.text-main {
	font-size: 2.9rem;
	font-family: 'Titillium Web', sans-serif;
	padding: 15% 0;
	line-height: 1.2;
	letter-spacing: 0.5px;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.text-recuerda {
	text-align: center;
	width: 95%;
	margin-top: 20px;
}
.enlace {
	color: black;
	font-family: 'Titillium Web', sans-serif;
	outline: none;
}
/* seccion del footer*/

.footer {
	background-color: #575756;
	margin-top: 30px;
	padding: 15px 0;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
}
.container-footer {
	margin: 0 auto;
	width: 1200px;
	display: flex;
	justify-content: space-between;
	color: white;
}

.container-footer__reserva {
	font-size: 1.5rem;
	font-family: 'PT Sans', sans-serif;
}
.container-footer__estamos {
	padding-right: 60px;
	font-size: 1.5rem;
	font-family: 'PT Sans', sans-serif;
}
.reset-contador {
	margin-top: 30px;
}
.titulo-visualizar {
	color: #d81e05;
	font-size: 3.8rem;
	font-weight: bolder;
	font-family: 'Titillium Web', sans-serif;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}

/*Break point*/
@media only screen and (max-width: 1200px) {
	.container-section {
		align-items: center;
		flex-direction: column;
	}
	.titulo-conmemoracion {
		font-size: 2.9rem;
	}
	.text-center {
		display: flex;
		justify-content: center;
		width: 80%;
	}
	.text-main {
		margin: 5%;
		text-align: center;
		width: 70%;
		font-size: 2.5rem;
	}
	.contador {
		font-size: 5rem;
	}
	.container-contador {
		padding-left: 30px;
	}

	.header {
		width: auto;
	}
	.container-footer {
		width: auto;
	}
	.container-section {
		width: auto;
	}

	.container-footer__reserva {
		padding-left: 20px;
	}
	.main__container {
		margin: 0 auto;
	}
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 680px) {
	/* .main__container {
		padding-bottom: 100px;
	} */
	.text-main {
		width: 80%;
		line-height: 1.5;
		font-size: 2rem;
		flex-direction: column;
	}
	.titulo-gradecimiento {
		font-size: 1.8rem;
	}
	.header__linea-abajo {
		margin: 0;
		margin-top: 1rem;
	}

	.titulo-conmemoracion {
		display: none;
	}
	.titulo-escondido {
		display: block;
		color: #d81e05;
		font-size: 2.8rem;
		font-weight: bolder;
		font-family: 'Titillium Web', sans-serif;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 50px;
		margin-top: 20px;
	}

	.titulo-visualizar {
		font-size: 3rem;
	}
	.container-contador {
		padding-left: 30px;
	}
	.contador {
		font-size: 4rem;
	}
	.description {
		font-size: 1rem;
	}
	.container-footer {
		display: flex;
		flex-direction: column-reverse;
	}
	.container-footer__estamos {
		padding-right: 0;
		padding-left: 20px;
		margin-bottom: 10px;
		font-size: 1.3rem;
	}
	.container-footer__reserva {
		font-size: 1.3rem;
	}
	.text-recuerda {
		margin: 0 auto;
		margin-top: 20px;
	}
}
@media only screen and (max-width: 420px) {
	.main {
		padding-top: 0;
		height: 83%;
	}
	.main__container {
		height: 100%;
	}
	.container-section {
		margin: auto;
	}
	.text-center {
		padding-top: 40%;
	}
	.text-main {
		font-size: 1.5rem;
		width: 100%;
		/* padding-top: 50%; */
	}
	.titulo-conmemoracion {
		font-size: 2rem;
	}
	.titulo-escondido {
		font-size: 2.5rem;
	}
	.title-form {
		font-size: 2rem;
	}
	.container-condiciones p {
		font-size: 1rem;
	}
	.container-contador {
		width: 85%;
	}
	.contador {
		font-size: 3rem;
	}
	.description {
		font-size: 1rem;
	}
	.form-input {
		padding: 5px 5px 5px 10px;
		font-size: 1.5rem;
	}
	.dni {
		width: 30%;
	}
	.container-contador {
		margin-top: 30px;
	}
	.header {
		padding-top: 20px;
	}
	.logo-mapfre {
		width: 100%;
	}
	.container-logo {
		width: 30%;
	}
	.misas {
		font-size: 2rem;
	}
	.simbolo {
		margin-right: 10px;
	}
	.titulo-visualizar {
		font-size: 2rem;
	}
	.titulo-gradecimiento {
		font-size: 1.4rem;
	}
	.main__descripcion {
		font-size: 1.3rem;
	}
}
/*height*/
@media screen and (max-height: 712px) {
	body {
		height: 100%;
	}
	.text-main {
		padding-bottom: 300px;
	}
}
